
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a{
    color: black;
}


.workout-map{
  height: 200px;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.select-workout-type{
    height: 35px !important;
}

.workout-details{
  .workout-map{
      height: 400px;
  }

  .analysis-chart{
      height: 300px;
  }

}